@charset "UTF-8";
@font-face {
    font-family: 'fonte_principal';
    src: url('../midia/fontes/BeatsterDemo.otf') format('opentype');
  }
:root{
    --cor1: #786829;
    --cor2: #F9E79F;
    --cor3: #F7D655;
    --cor4: #786F4D;
    --cor5: #C4AA43;
}
img.insta{
    position: static;
    top: -200px;
    left: -200px;
    width: 50px;
}
div#inicio_t{
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.40);
    width: 70vw;
    height: 60vh;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}
div#teste{
    display: none;
    background-color: white;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.40);
    width: 70vw;
    height: 60vh;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}
div#teste p.per:hover{
    color: white;
    background-color: black;
}
input{
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
    color: black;
    background-color: #F7D655;
    position: relative;
    height: 50px;
    width: 100px;
    border: none;
    bottom: -45vh;
    right: -1vw;
}
p#q_p{
    font-weight: bolder;
    font-size: 110%;
}
p.per{
    margin-top: 20px;
    font-size: 105%;
}
main h2{
    font-family: 'fonte_principal', sans-serif;
    text-align: center;
    margin: 20px;
}
@media screen  and (max-width:768px){
    p.per{
        font-size: 90%;
    }
}