@charset "UTF-8";
@font-face {
    font-family: 'fonte_principal';
    src: url('../midia/fontes/BeatsterDemo.otf') format('opentype');
  }
:root{
    --cor1: #786829;
    --cor2: #F9E79F;
    --cor3: #F7D655;
    --cor4: #786F4D;
    --cor5: #C4AA43;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: url(../midia/imagens/fundo_jornal_amarelo.jpg);
}
header{
    color: var(--cor3);
    background-color: black;
    height: 90px;
}
header h1{
  text-align: center;
  vertical-align: middle;
  font-family: 'fonte_principal', sans-serif;
  font-size: 50px;
  padding-top: 20px;
  margin-bottom: -35px;
}
header img{
    width: 60px;
    margin-left: 30px;
    margin-top: -20px;
}
header nav{
    text-decoration: none;
    text-align: right;
    margin-right: 20px;
    margin-top: -25px;
}
header nav a{
    font-family: 'fonte_principal', sans-serif;
    font-size: 25px;
    margin-left: 5px;
    padding: 0px 5px 0px 5px;
    color: var(--cor3) ;
    text-decoration: none;
}
header > i.material-icons{
    position: absolute;
    display: none;
    font-size: 220%;
    right: 30px;
    top: 30px;
}
main{
    margin: auto;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.40);
    padding: 5px;
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    width: 80vw;
}
@media screen  and (max-width:1000px){
    header h1{
        font-size: 40px;
      }
    header nav{
        display:none;
        position: absolute;
        text-align: left;
        background-color: white;
        height: 150px;
        width: 120px;
        top: 90px;
        right: -5px;
        box-shadow: 1px 1px 10px rgba(0,0,0,0.40);
        white-space: pre-wrap;
    }
   header nav  a{
        padding-top: -10px;
        font-size: 20px;
        margin-left: -50px;
        line-height:30px;
        color: black;
    }
    header nav  a:hover{
        color: var(--cor3);
    }
    header img{
        margin-top:-10px;
        width: 8%;
    }
    header > i.material-icons{
        display: block;
    }
}
@media screen  and (min-width:1000px){
    header nav a:hover{
        background-color: var(--cor3);
        border-radius: 10px;
        color: black;
    }
}